@import "../../styles/mixin";
.wishList {
  .wish-h1 {
    font-weight: 900;
    font-size: 20px;
    position: relative;
    font-family: Inter;
  }
  .wish-all {
    width: 975px;
    min-height: 260px;
    @include flexbox(center, row);
    display: grid;
    grid-template-columns: repeat(4, 3fr);
    gap: 16px;
    .wish {
      width: 210px;
      height: 260px;
      margin: 30px 0;
      @include flexbox();
      flex-direction: column;
      gap: 14px;
      box-sizing: border-box;
      border: 1px solid rgb(243, 243, 243);
      border-radius: 40px;
      background: rgb(255, 255, 255);
      &:hover {
        box-sizing: border-box;
        border: 1px solid rgb(248, 248, 248);
        border-radius: 40px;
        box-shadow: 0px 24px 30px 0px rgba(0, 0, 0, 0.05);
        background: rgb(255, 255, 255);
        transform: scale(1.1);
        transition: all 0.8s;
        object-fit: cover;
      }
      .image-product-logo {
        width: 133px;
        height: 112px;
        object-fit: cover;
      }
      h2 {
        width: 150px;
        height: 34px;
        color: rgb(0, 0, 0);
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
      }
      .wish-bottom {
        @include flexbox(center);
        gap: 47px;
        p {
          color: rgb(189, 189, 189);
          font-family: Inter;
          font-size: 11px;
          font-weight: 500;
          line-height: 13px;
        }
        h4 {
          color: rgb(0, 0, 0);
          font-family: Inter;
          font-size: 14px;
          font-weight: 700;
          line-height: 17px;
        }
        .btn-wishList {
          width: 32px;
          height: 32px;
          box-sizing: border-box;
          border: 1px solid rgb(242, 242, 242);
          border-radius: 8px;
          background: rgb(255, 255, 255);
          @include flexbox(center);
          &:hover {
            cursor: pointer;
          }
        }

        .btn-wishList:focus {
          border-radius: 8px;
          background: linear-gradient(
            180deg,
            rgb(255, 255, 255),
            rgb(255, 150, 150),
            rgb(255, 0, 0),
            rgb(255, 150, 150),
            rgb(255, 255, 255) 100%
          );
        }
      }
    }
  }
}
