@import "../../styles/mixin";

.home {
  margin-top: 40px;
  @include flexbox(space-between);
  h1 {
    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    margin: 0;
    cursor: context-menu;
  }
  .home-div {
    width: 250px;
    height: 45px;
    box-sizing: border-box;
    border: 1px solid rgb(240, 240, 240);
    border-radius: 10px;
    margin: 0;
    padding: 0 0 0 16px;
    gap: 5px;
    @include flexbox(center);
    img {
      object-fit: cover;
      &:hover {
        cursor: pointer;
      }
      &:active {
        transform: scale(1.1);
      }
    }
    input {
      padding: 8px 0px 8px 0px;
      outline: none;
      font-family: Inter;
      font-size: 14px;
      font-weight: 400;
      line-height: 17px;
      &::placeholder {
        color: rgb(196, 196, 196);
      }
    }
  }
}
